<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
  {{ range .Site.Params.custom_css -}}
      <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
  {{ range .Site.Params.custom_js -}}
      <script type="text/javascript" src="{{ . | absURL }}"></script>
  {{- end }}
